<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="css/styles.css" rel="stylesheet">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/22b7a95974.js" crossorigin="anonymous"></script>

</head>
<body>
    <!-- Header -->
    <header>
        <div class="bloque-busqueda">
            <img src="images/logo-mercado-liebre.svg" alt="Mercado Liebre">
            <div class="barraBusqueda">
                <input type="text" name="busqueda" id="busqueda" placeholder="Buscar productos, marcas">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <p class="anuncio"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="register.html">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="login.html">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="centrar">
            <button class="burguesita">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </header>

    <main>
        <form action="#"><br>
            <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuario"><br><br>
            <input type="password" id="contrasenia" name="contrasenia" placeholder="Contraseña"><br><br>

            <input type="submit" value="Ingresar">
        </form>
    </main>

    <footer>
        <div class="ventaja">
            <i class="fa-solid fa-credit-card"></i>
            <h4>
                <strong>Pagá con tarjeta o en efectivo</strong>
            </h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div class="ventaja">
            <i class="fa-solid fa-gift"></i>
                
            <h4>
                <strong>
                    Envío gratis desde $ 2.500
                </strong>
            </h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div class="ventaja">
            <i class="fa-solid fa-user-shield"></i>
            <h4>
                <strong>
                    Seguridad, de principio a fin
                </strong>
            </h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </div>
        <p class="copyright">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
    </footer>
</body>
</html>