<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="css/styles.css" rel="stylesheet">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/22b7a95974.js" crossorigin="anonymous"></script>

</head>
<body>
<!-- Header -->
    <header>
        <div class="bloque-busqueda">
            <img src="images/logo-mercado-liebre.svg" alt="Mercado Liebre">
            <div class="barraBusqueda">
                <input type="text" name="busqueda" id="busqueda" placeholder="Buscar productos, marcas">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <p class="anuncio"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="centrar">
            <button class="burguesita">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </header>

    <main>
        <form>
            <label for="nombre"> Nombre Completo</label><br>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido"><br><br>

            <label for="usuario"> Usuario</label><br>
            <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuario"><br><br>

            <label for="mail"> Correo electrónico</label><br>
            <input type="email" id="mail" name="mail" placeholder="Correo electrónico"><br><br>

            <label for="nacimiento"> Fecha de nacimiento</label><br>
            <input type="date" id="nacimiento" name="nacimiento" placeholder="Fecha de nacimiento"><br><br>

            <label for="domicilio"> Domicilio</label><br>
            <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio"><br><br>

            <label for="perfil"> Tipo de perfil</label><br>
            <input type="radio" id="cliente" name="perfil" value="cliente">
            <label for="cliente">Cliente</label><br>
            <input type="radio" id="vendedor" name="perfil" value="vendedor">
            <label for="vendedor">Vendedor</label><br><br><br>

            <label for="categorias"> Categorías de interés</label><br>
            <input type="checkbox" id="electro" name="categorias" value="electro">
            <label for="electro"> Electro</label><br>
            <input type="checkbox" id="moda" name="categorias" value="moda">
            <label for="moda"> Moda</label><br>
            <input type="checkbox" id="Hogar" name="categorias" value="Hogar">
            <label for="Hogar"> Hogar</label><br>
            <input type="checkbox" id="Jugueteria" name="categorias" value="Jugueteria">
            <label for="Jugueteria"> Jugueteria</label><br>
            <input type="checkbox" id="Vidasana" name="categorias" value="Vidasana">
            <label for="Vidasana"> Vida Sana</label><br><br><br>

            <label for="foto"> Domicilio</label><br>
            <input type="file" id="foto" name="foto" placeholder="Cargar imagen"><br><br>

            <label for="contrasenia"> Contraseña</label><br>
            <input type="password" id="contrasenia" name="contrasenia" placeholder="Contraseña"><br><br>

            <label for="confirmcontrasenia"> Repetir contraseña</label><br>
            <input type="password" id="confirmcontrasenia" name="confirmcontrasenia" placeholder="Contraseña"><br><br>
        
            <br>
            <input type="button" placeholder="Volver"> ?<br><br>
        
            <label for="confirmcontrasenia"> Limpiar formulario</label><br>
            <input type="reset">
        </form>
    </main>

    <footer>
        <div class="ventaja">
            <i class="fa-solid fa-credit-card"></i>
            <h4>
                <strong>Pagá con tarjeta o en efectivo</strong>
            </h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div class="ventaja">
            <i class="fa-solid fa-gift"></i>
                
            <h4>
                <strong>
                    Envío gratis desde $ 2.500
                </strong>
            </h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div class="ventaja">
            <i class="fa-solid fa-user-shield"></i>
            <h4>
                <strong>
                    Seguridad, de principio a fin
                </strong>
            </h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </div>
        <p class="copyright">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
    </footer>
</body>
</html>